@charset "utf-8";
/* CSS Document */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
  background-color: #fdfdfd;	
}

img{
  max-width: 100%;
}

/* ====================== Navigation ====================== */
nav{
  height: 80px;
  width: 100%;
  background-color: rgb(54, 53, 53);
  margin: 0;
  text-align:center;
}

.nav-link{
  margin: auto;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 5px;
  line-height: 110%;
  padding: 0%;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 30%;  
}

.nav-link:hover{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer a{
  color: #f18200;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.5em;
  margin: 0 20px;
  padding-top: 5px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 20px solid #f3f3f3;
  font-family: Arial,sans-serif;
  padding: 15px 20px 25px;
  text-align: left;
  border-radius: 35px 50px;
}

#restaurants-list .restaurant-img {
  border-radius: 50px 15px;
}

#restaurants-list li h1 {
  color: #f18200;
  font-size: 1.5em;
  font-weight: 500;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1em;
}

/* ====================== Restaurant Details ====================== */
section#map-container{
  padding: 5px;
}

.inside #map {
  margin-top: 20px;
  background-color: #ccc;
  width: 100%;
  min-width: 280px;
  height: 45vw;
  min-height: 550px !important;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-address {
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px 0px;
}

#restaurant-hours td {
  color: #666;
}

caption{
  text-align: left;
  padding-bottom: 2px;
  font-weight: bold;
}

/* ====================== Restaurant Details ====================== */
#reviews-container {
  border-top: 1px solid #d9d9d9;
  padding: 10px;
}

ul#reviews-list{
  padding: 2vw;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 0 20px 0;
  margin: 5px;
}

.orange-highlight{
  background: orange;
  overflow: hidden;
  padding: 1px 10px;
  
}
.dark-highlight{
  background: #333;
  color: #ccc;
  padding: 4px 5px;
  font-weight: bold;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;  
  position: relative;
  border-radius: 15px 50px;
}

.text-padding{
  padding: 15px;
}

